### General ###
.idea/
venv/

### Solidity ###
build/
artifacts.json
artifacts/
cache/

### Coverage ###
coverage.json
coverage/

### Node ###
# Dependency directories
node_modules

# Environment variables file
.env

# Custom
cache/
coverage.json
typechain-types/
data/*.json

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/unknown-*.json
.openzeppelin/.session
