### General ###
.idea/
venv/

### Solidity ###
build/
artifacts.json
artifacts/
cache/

### Coverage ###
coverage.json
coverage/

### Node ###
# Dependency directories
node_modules

# Environment variables file
.env
